In [1]:
import sys
sys.path.insert(0, './datamart_client')

In [2]:
import datamart_client

In [3]:
datasets = datamart_client.search(keywords=['thyroid'], url='http://localhost:8002')
datasets

[<Dataset 'b8b6538dbb16412b8ad5b1479dfca535' score=1.0 discoverer='datamart.example.d3m'>,
 <Dataset '47dd2bed65704757aceccdd64af76157' score=1.0 discoverer='datamart.example.d3m'>]

In [4]:
df = datasets[0].to_dataframe()
df.head()

,d3mIndex,age,sex,on_thyroxine,query_on_thyroxine,on_antithyroid_medication,sick,pregnant,thyroid_surgery,I131_treatment,...,TT4_measured,TT4,T4U_measured,T4U,FTI_measured,FTI,TBG_measured,TBG,referral_source,Class
0,0,41.0,F,f,f,f,f,f,f,f,...,t,125.0,t,1.14,t,109.0,f,NaN,SVHC,negative
1,1,23.0,F,f,f,f,f,f,f,f,...,t,102.0,f,NaN,f,NaN,f,NaN,other,negative
2,2,46.0,M,f,f,f,f,f,f,f,...,t,109.0,t,0.91,t,120.0,f,NaN,other,negative
3,3,70.0,F,t,f,f,f,f,f,f,...,t,175.0,f,NaN,f,NaN,f,NaN,other,negative
4,4,70.0,F,f,f,f,f,f,f,f,...,t,61.0,t,0.87,t,70.0,f,NaN,SVI,negative